
# Ignorar archivos de Python
*.pyc
__pycache__/
# Ignorar entornos virtuales
venv/
# Ignorar archivos de configuración de IDEs
.idea/
.vscode/
# Ignorar archivos de sistema
.DS_Store
# Ignorar archivos de logs
*.log
# Ignorar archivos de caché
*.cache
# Ignorar archivos de configuración de entorno
.env
